/*GENERAL SPACING AND FONT FAMILY*/

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*HEADER AND HERO SECTION STYLES*/

.header {
    background-color: #1f2937;
    padding: 0 80px;
    display: flex;
    justify-content: center;
}

.header .container {
    flex: 0 1 1000px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.header .logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.header .list ul a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.main .hero {
    background-color: #1f2937;
    padding: 80px;
    display: flex;
    justify-content: center;
}

.hero .container {
    flex: 0 1 1000px;
    display: flex;
    gap: 40px;
}

.hero img {
    max-width: 500px;
}

.hero .container h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero .container p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero .container .button {
    background-color: #3882f6;
    padding: 10px 30px;
    margin-top: 15px;
}

.hero .button a {
    color: #e5e7eb;
    font-weight: bold;
    text-decoration: none;
}

/*ASIDE SECTION STYLES*/

.aside {
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.aside h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.aside .container {
    max-width: 900px;
    margin: 0 80px 0;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.aside .container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.aside p {
    color: #1f2937;
    font-size: 18px;
}

.aside img {
    width: 200px;
}


/*QUOTE SECTION STYLES*/

.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote .container {
    flex: 0 1 900px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quote .text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote .author{
    font-size: 19px;
    font-weight: 900;
    align-self: flex-end;
}

/*SIGN UP SECTION STYLES*/

.signup {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup .container {
    flex: 0 1 1000px;
    padding: 50px 100px;
    background-color: #3882f6;
    display: flex;
    justify-content: space-between;
}

.signup h2 {
    color: #F9FAF8;
}

.signup p {
    color: #e5e7eb;
}

.signup .button {
    padding: 10px 30px;
    align-self: center;
}

.signup .button a {
    color: #F9FAF8;
    text-decoration: none;
}

/*FOOTER SECTION STYLES*/

.footer {
    padding: 20px 0;
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
}